*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-image: url(fondo2.jpg);
    padding: 0px;
}

.cabecera{
    background-color: rgb(255, 255, 255);
    height: 80px;
    position: fixed;
    width: 100%;
}

.logo_cabecera{
    display: flex;
    position: absolute;
    height: 50px;
    width: auto;
    margin-top: 10px;
}

.configuracion{
    display: flex;
    height: 50px;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.oden{
    display: block;
}

.buscar_cabesa{
    display: flex;
    position: absolute;
    margin-left: 300px;
    height: 40px;
    width: 360px;
    border: 0;
    margin-top: 18px;
}

cabe{
    display: block;
    box-sizing: border-box;
}

.ceparador{
    position: block;
    height: 100px;
    width: 100%;
    background-color: rgb(243, 235, 239);
}

.titulo{
    text-align: center;
}

.container{
    display: flex;
    margin-top: 45px;
    margin-left: 120px;
    margin-right: 120px;
    background-color: white;
}

.ol{
    position: relative;

}