* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(fondo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main {
  width: 100%;
  padding: 8px;
  margin: auto;
  margin-top: 8px;
}

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 128, 255, 0.5);
  border-radius: 20px;
}

.caja__trasera .divi {
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}

.caja__trasera .divi .texto,
.caja__trasera .botones {
  margin-top: 30px;
}

.caja__trasera .divi .parafo {
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera .divi .texto {
  font-size: 16px;
  font-weight: 300;
}

.caja__trasera .botones {
  padding: 10px 40px;
  border: 2px solid #fff;
  border-radius: 8px;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}

.caja__trasera .botones:hover {
  background: #fff;
  color: #000000;
}

.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;

  /*La transicion va despues del codigo JS*/
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor__login-register .formulario {
  width: 100%;
  padding: 70px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-register .formulario .parafo2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #46a2fd;
}

.contenedor__login-register .formulario .ingreso {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  border-right: none;
  font-size: 16px;
  outline: none;
  transition: all 1s;
}

.contenedor__login-register .formulario .botones2 {
  padding: 10px 40px;
  margin-top: 25px;
  border: none;
  font-size: 14px;
  background: #46a2fd;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  border-radius: 20px;
}

.formulario__login {
  opacity: 1;
  display: block;
}
.formulario__register {
  display: none;
}

.parafo3 {
  display: flex;
  justify-content: center;
  color: white;
}

.separador {
  display: block;
  justify-content: center;
  margin-top: 130px;
}

.olvidar_contrasena {
  position: relative;
  top: 10px;
  left: 157px;
}

.olvidar_contrasena:hover {
  color: blue;
}

.formulario__mensaje-exito {
  font-size: 14px;
  margin-top: 15px;
  color: #119200;
  display: none;
}

.formulario__mensaje-exito-activo {
  display: block;
}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__mensaje {
  height: 38px;
  line-height: auto;
  background: #f66060;
  padding: 0 15px;
  padding-top: 1px;
  border-radius: 3px;
  display: none;
  margin-top: 8px;
}

.formulario__mensaje-activo {
  display: block;
}

/* --------------------------------------------- VALIDACIÓN ----------------------------------------- */
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #29ee0f;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #ee0f0f;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #ee0f0f;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 1px solid #ee0f0f;
}

.formulario__validacion-estado {
  position: relative;
  bottom: 28px;
  left: 320px;
  font-size: 17px;
  opacity: 0;
}

.formulario__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }

  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }

  .caja__trasera .divi {
    margin: 0px;
    position: absolute;
  }

  /*Formularios*/

  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }

  .contenedor__login-register .formulario {
    position: relative;
  }
}
