* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    padding-top: 30px;
}

.parafo3 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 40px;
}

body {
    background-image: url(fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.caja__trasera {
  width: 100%;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 128, 255);
  border-radius: 20px;
}

.caja__trasera .divi {
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}

.caja__trasera .divi .texto,
.caja__trasera .botones {
  margin-top: 20px;
}

.caja__trasera .divi .parafo {
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera .divi .texto {
  font-size: 16px;
  font-weight: 300;
}

.caja__trasera .botones {
  padding: 10px 40px;
  border: 2px solid #fff;
  border-radius: 8px;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}

.caja__trasera .botones:hover {
  background: #fff;
  color: #000000;
}

.ingreso {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    border-right: none;
    font-size: 16px;
    outline: none;
    transition: all 1s;
}

.formulario__login {
    opacity: 1;
    display: block;
}

.pocicion{
    display: flex;
    position: absolute;
    border: none;
}

.mensaje{
    display: none;
}

.mensaje-activo{
    display: block;
    color: rgb(0, 255, 0);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
  
.formulario__input-error-activo {
    display: block;
}

.formulario__mensaje-exito {
    font-size: 14px;
    margin-top: 15px;
    color: #119200;
    display: none;
  }
  
  .formulario__mensaje-exito-activo {
    display: block;
  }
  
  .formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
  }
  
  .formulario__input-error-activo {
    display: block;
  }
  
.formulario__input-error {
    font-size: 16px;
    margin-bottom: 0;
    display: none;
}

.formulario__mensaje {
    height: 27px;
    line-height: auto;
    background: #f66060;
    padding: 0 18px;
    padding-top: 4px;
    border-radius: 5px;
    display: none;
    margin-top: 8px;

}
  
.formulario__mensaje-activo {
   display: block;
}


/* --------------------------------------------- VALIDACIÓN ----------------------------------------- */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #29ee0f;
    opacity: 1;
}
  
.formulario__grupo-incorrecto {
    color: #ee0f0f;
}
  
.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #ee0f0f;
    opacity: 1;
}
  
.formulario__grupo-incorrecto {
    border: 1px solid #ee0f0f;
}
  
.formulario__validacion-estado {
    position: relative;
    bottom: 28px;
    left: 320px;
    font-size: 17px;
    opacity: 0;
}
