*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 0px;
}

.cabecera{
    background-color: rgb(255, 255, 255);
    height: 80px;
    position: fixed;
    width: 100%;
}

.logo_cabecera{
    display: flex;
    position: absolute;
    height: 50px;
    width: auto;
    margin-top: 10px;
}

.configuracion{
    display: flex;
    height: 50px;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.oden{
    display: block;
}

.buscar_cabesa{
    display: flex;
    position: absolute;
    margin-left: 300px;
    height: 40px;
    width: 360px;
    border: 0;
    margin-top: 18px;
}

cabe{
    display: block;
    box-sizing: border-box;
}

.ceparador{
    position: block;
    height: 100px;
    width: 100%;
    background-color: rgb(243, 235, 239);
}

.nuevo_encuesta{
    background-color: rgb(3, 120, 124);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 35px;
    width: 170px;
    color: white;
    margin-top: 20px;
    margin-left: 30px;
    border: 0;
}

.box_encuesta{
    background-color: rgb(3, 120, 124);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 35px;
    width: 20px;
    color: white;
    margin-top: 20px;
    margin-left: -3px;
    border: 0;
}

.nuevo_encuesta:hover{
    background-color: rgb(2, 109, 112);
}

.Boton{
    height: 30px;
    width: auto;
    margin-top: 20px;
    border: 0px;
    border-radius: 9px;
    margin-right: 3px;
    
}

.Boton:hover{
    background-color: rgb(41, 41, 41);
    color: white;
}

.Reciente{
    margin-left: 30px;
    margin-right: 5px;
}

.tabla{
    margin-left: 30px;
    margin-right: 5px;
    display: flex;
}

.dimeciones{
    display: inline-block;
    position: relative;
    height: 220px;
    width: 259px;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

.fondotos{
    height: 140px;
    width: 259px;
    margin: none;
    padding: none;
    border: none;
}

.box_opciones{
    position: absolute;
    background-color: rgb(252, 252, 252);
    height: 35px;
    width: 20px;
    color: black;
    top: 150px;
    right: 5px;
    border-radius: 5px;
}

.fondito{
    background-color: white;
    color: black;
}